.stats {
  text-align: center;
}

.glyphicon {
  cursor: pointer;
}

.race {
  background-color: #ABD3DD;
  padding: 5px;
  cursor: pointer;
}

.race:hover {
  background-color: #39BDFF;
}

.activeRace {
  background-color: #E0882F;
}

.base-class {
  background-color: #ABD3DD;
  padding: 5px;
  cursor: pointer;
}

.base-class:hover {
  background-color: #39BDFF;
}

.activeBaseClass {
  background-color: #E0882F;
}

.trait-list li {
  margin-bottom: 10px;
}

.trait {
  background-color: #ABD3DD;
  padding: 5px;
  cursor: pointer;
}

.trait:hover {
  background-color: #39BDFF;
}

.selectedTrait {
  background-color: #E0882F;
}

.unavailable {
  background-color: #FF3B3B;
}
