.step1-col {
  height: 450px;
  overflow: auto;
}

.component-list li {
  width: 100%;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.component-list li:first-child {
  border-top: 1px solid #e0e0e0;
}

.component-item:hover {
  background-color: #e0e0e0;
}

.active {
  background-color: #d9edf7;
}

.unavailable {
  color: #ddd;
}

.unavailable:hover {
  background-color: #fff;
}
