<section data-ng-controller="ToonsController">
	<div class="row">
    <div class="stats">
      <ul class="list-unstyled">
        <li>
          Strength {{stats.currentStrength}} / {{stats.maxStrength}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('strength', 1)"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('strength', 1)"></span>
        </li>
        <li>
          Dexterity {{stats.currentDexterity}} / {{stats.maxDexterity}} 
          <span class="glyphicon glyphicon-plus" ng-click="changeStat('dexterity', 1)"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="changeStat('dexterity', -1)"></span>
        </li>
        <li>
          Constitution {{stats.currentConstitution}} / {{stats.maxConstitution}} 
          <span class="glyphicon glyphicon-plus" ng-click="changeStat('constitution', 1)"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="changeStat('constitution', -1)"></span>
        </li>
        <li>
          Intelligence {{stats.currentIntelligence}} / {{stats.maxIntelligence}} 
          <span class="glyphicon glyphicon-plus" ng-click="changeStat('intelligence', 1)"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="changeStat('intelligence', -1)"></span>
        </li>
        <li>
          Spirit {{stats.currentSpirit}} / {{stats.maxSpirit}} 
          <span class="glyphicon glyphicon-plus" ng-click="changeStat('spirit', 1)"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="changeStat('spirit', -1)"></span>
        </li>
      </ul>
    </div>
  </div>
</section>
