<section data-ng-controller="ToonsController" data-ng-init="findComponents()">
 
	<div class="row first-row">
    <div class="col-md-4 step1-col">
      <ul id="races" class="list-unstyled component-list">
        <li data-ng-repeat="race in races">
          <div class="component-item pointer" ng-class="{active: selectedRace.name === race.name}" ng-click="chooseRace(race)">
            {{race.name}} ({{race.cost}})
          </div>
        </li>
      </ul>
    </div>
      
    <div class="col-md-4 step1-col" ng-show="selectedRace">
      <ul id="bases" class="list-unstyled component-list">
        <li data-ng-repeat="class in baseClasses">
          <div class="component-item pointer" ng-class="{active: selectedBaseClass.name === class.name, unavailable: !class.available}" ng-click="chooseBaseClass(class)">
            {{class.name}}
          </div>
        </li>
      </ul>
    </div>
      
    <div class="col-md-4 step1-col trait-col" ng-show="selectedBaseClass">
      <ul id="traits" class="list-unstyled component-list">
        <li data-ng-repeat="trait in traits | orderBy: 'name'">
          <div class="component-item pointer" ng-class="{unavailable: !trait.available, active: trait.selected}" ng-click="selectTrait(trait)">
            {{trait.name}} ({{trait.cost}})
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Points Remaining: {{remainingPoints}} / {{maxPoints}}</h1>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default center-block stats">
        <ul class="list-unstyled">
          <li>
            <span class="stat-name">Strength</span>
            <span class="stat-values">{{stats.baseStrength}}/<strong>{{stats.currentStrength}}</strong>/{{stats.maxStrength}}</span>
            <span class="pointer glyphicon glyphicon-plus" ng-click="increaseStat('strength')"></span> 
            <span class="pointer glyphicon glyphicon-minus" ng-click="decreaseStat('strength')"></span>
          </li>
          <li>
            <span class="stat-name">Dexterity</span>
            <span class="stat-values">{{stats.baseDexterity}}/<strong>{{stats.currentDexterity}}</strong>/{{stats.maxDexterity}}</span>
            <span class="pointer glyphicon glyphicon-plus" ng-click="increaseStat('dexterity')"></span> 
            <span class="pointer glyphicon glyphicon-minus" ng-click="decreaseStat('dexterity')"></span>
          </li>
          <li>
            <span class="stat-name">Constitution</span>
            <span class="stat-values">{{stats.baseConstitution}}/<strong>{{stats.currentConstitution}}</strong>/{{stats.maxConstitution}}</span>
            <span class="pointer glyphicon glyphicon-plus" ng-click="increaseStat('constitution')"></span> 
            <span class="pointer glyphicon glyphicon-minus" ng-click="decreaseStat('constitution')"></span>
          </li>
          <li>
            <span class="stat-name">Intelligence</span>
            <span class="stat-values">{{stats.baseIntelligence}}/<strong>{{stats.currentIntelligence}}</strong>/{{stats.maxIntelligence}}</span>
            <span class="pointer glyphicon glyphicon-plus" ng-click="increaseStat('intelligence')"></span> 
            <span class="pointer glyphicon glyphicon-minus" ng-click="decreaseStat('intelligence')"></span>
          </li>
          <li>
            <span class="stat-name">Spirit</span>
            <span class="stat-values">{{stats.baseSpirit}}/<strong>{{stats.currentSpirit}}</strong>/{{stats.maxSpirit}}</span>
            <span class="pointer glyphicon glyphicon-plus" ng-click="increaseStat('spirit')"></span> 
            <span class="pointer glyphicon glyphicon-minus" ng-click="decreaseStat('spirit')"></span>
          </li>
        </ul>        
      </div>
      
      <div style="display: none">
        Granted Base Str: {{selectedRace.grantedBaseStr}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Dex: {{selectedRace.grantedBaseDex}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Con: {{selectedRace.grantedBaseCon}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Int: {{selectedRace.grantedBaseInt}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Spi: {{selectedRace.grantedBaseSpi}} + {{selectedBaseClass.grantedBaseStr}}<br/><br/>
        
        Granted Max Str: {{selectedRace.grantedMaxStr}}<br/>
        Granted Max Dex: {{selectedRace.grantedMaxDex}}<br/>
        Granted Max Con: {{selectedRace.grantedMaxCon}}<br/>
        Granted Max Int: {{selectedRace.grantedMaxInt}}<br/>
        Granted Max Spi: {{selectedRace.grantedMaxSpi}}<br/><br/>
      </div>
    </div>
  </div>
</section>
