<section data-ng-controller="ToonsController" data-ng-init="findComponents()">
	<div class="row">
    <div class="stats">
      <ul class="list-inline">
        <li data-ng-repeat="race in races">
          <span class="race" ng-class="{activeRace: selectedRace.name === race.name}" ng-click="chooseRace(race)">
            {{race.name}} ({{race.cost}})
          </span>
        </li>
      </ul>    
      <ul class="list-inline">
        <li data-ng-repeat="class in baseClasses">
          <span class="base-class" ng-class="{activeBaseClass: selectedBaseClass.name === class.name, unavailable: !class.available}" ng-click="chooseBaseClass(class)">
            {{class.name}}
          </span>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          Strength {{stats.baseStrength}} / <strong>{{stats.currentStrength}}</strong> / {{stats.maxStrength}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('strength')"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('strength')"></span>
        </li>
        <li>
          Dexterity {{stats.baseDexterity}} / <strong>{{stats.currentDexterity}}</strong> / {{stats.maxDexterity}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('dexterity')"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('dexterity')"></span>
        </li>
        <li>
          Constitution {{stats.baseConstitution}} / <strong>{{stats.currentConstitution}}</strong> / {{stats.maxConstitution}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('constitution')"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('constitution')"></span>
        </li>
        <li>
          Intelligence {{stats.baseIntelligence}} / <strong>{{stats.currentIntelligence}}</strong> / {{stats.maxIntelligence}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('intelligence')"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('intelligence')"></span>
        </li>
        <li>
          Spirit {{stats.baseSpirit}} / <strong>{{stats.currentSpirit}}</strong> / {{stats.maxSpirit}} 
          <span class="glyphicon glyphicon-plus" ng-click="increaseStat('spirit')"></span> 
          <span class="glyphicon glyphicon-minus" ng-click="decreaseStat('spirit')"></span>
        </li>
      </ul>
      <p>Points Remaining: {{remainingPoints}} / {{maxPoints}}</p>
      <div>
        Granted Base Str: {{selectedRace.grantedBaseStr}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Dex: {{selectedRace.grantedBaseDex}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Con: {{selectedRace.grantedBaseCon}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Int: {{selectedRace.grantedBaseInt}} + {{selectedBaseClass.grantedBaseStr}}<br/>
        Granted Base Spi: {{selectedRace.grantedBaseSpi}} + {{selectedBaseClass.grantedBaseStr}}<br/><br/>
        
        Granted Max Str: {{selectedRace.grantedMaxStr}}<br/>
        Granted Max Dex: {{selectedRace.grantedMaxDex}}<br/>
        Granted Max Con: {{selectedRace.grantedMaxCon}}<br/>
        Granted Max Int: {{selectedRace.grantedMaxInt}}<br/>
        Granted Max Spi: {{selectedRace.grantedMaxSpi}}<br/><br/>
      </div>
      <div ng-show="selectedBaseClass">
        <ul class="list-unstyled trait-list">
          <li data-ng-repeat="trait in traits | orderBy: 'name'">
            <span class="trait" ng-class="{unavailable: !trait.available}" ng-click="selectTrait(trait)">
              {{trait.name}}
            </span>
            <span ng-show="trait.selected"> Selected</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
